@import './helpers.scss';
@import './buttons.scss';

[data-trigger]{
  position: relative;
  z-index: 0;
  summary {
    @extend .btn;
    list-style: none;
    &::-webkit-details-marker {
      display: none;
    }
    &::after {
      @include overlay();
      z-index: 1;
    }
  }

  &[open] {
    z-index: 1;
    summary{
      &::after{
        @include overlayHover();
      }

      &:active{
        box-shadow: none;
      }
    }
  }
}
