menu {
  position: absolute;
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  border-radius: 0.25em;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: scale(0);
  transform-origin: top left;
  min-width: 20rem;
  box-shadow: var(--elevation-12); }
  menu.ui-top {
    transform-origin: bottom left;
    bottom: 100%;
    top: auto; }
  menu.ui-right {
    transform-origin: top right;
    right: 0; }
  menu.ui-top.ui-right {
    transform-origin: bottom right; }

menu[open], [data-trigger][open] menu {
  display: block;
  opacity: 1;
  z-index: 8;
  transform: scale(1); }
