:root {
  font-size: 100%; }

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  background: var(--default-bright); }

body {
  display: flex;
  flex-direction: column; }

article {
  flex-grow: 1;
  overflow-x: auto;
  padding: 1em; }

a,
small,
button,
details {
  display: inline-block;
  vertical-align: middle;
  transition: var(--animate-all); }

body {
  font-size: 1rem;
  line-height: 1.618;
  color: var(--default-dark); }

a, img {
  outline: 0;
  margin: 0;
  text-decoration: none; }

a, .btn, button {
  color: var(--primary); }

small {
  font-size: 0.88em;
  opacity: 0.8;
  padding: 0 .88em; }

[class*="focus:"],
[class*="active:"],
[class*="hover:"] {
  transition: var(--animate-all-fast); }

[class*="icon"] {
  line-height: 1em;
  vertical-align: middle; }
