:root {
  --animate-all: all 0.3s ease-in-out;
  --animate-all-fastest: all 0.1s ease-in-out;
  --animate-all-fast: all 0.2s ease-in-out;
  --animate-all-slow: all 0.4s ease-in-out;
  --animate-all-slowest: all 0.6s ease-in-out;
  --xs2: 0.25rem;
  --xs: 0.5rem;
  --sm: 0.75rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;
  --xl2: 1.965rem;
  --xl3: 2rem;
  --xl4: 2.25rem;
  --xl5: 2.5rem;
  --xl6: 2.75rem;
  --xl7: 3rem;
  --xl8: 4rem;
  --white: #ffffff;
  --primary: #3244ad;
  --primary-bright: #e2e5f7;
  --primary-lightest: #abb4e7;
  --primary-light: #8390db;
  --primary-dark: #151d4a;
  --primary-darkest: #0a0e23;
  --accent: #953ca5;
  --accent-bright: #f3e5f6;
  --accent-lightest: #dbb1e3;
  --accent-light: #ca8cd5;
  --accent-dark: #411a48;
  --accent-darkest: #1f0c22;
  --success: #2ab7a9;
  --success-bright: #e2f8f6;
  --success-lightest: #a8ebe4;
  --success-light: #7fe2d8;
  --success-dark: #124f49;
  --success-darkest: #092623;
  --info: #00c3e0;
  --info-bright: #dbfaff;
  --info-lightest: #94f1ff;
  --info-light: #61eaff;
  --info-dark: #005461;
  --info-darkest: #00282e;
  --warning: #bf7921;
  --warning-bright: #faeee0;
  --warning-lightest: #efcea3;
  --warning-light: #e8b678;
  --warning-dark: #52340e;
  --warning-darkest: #271907;
  --danger: #bb2626;
  --danger-bright: #f9e2e2;
  --danger-lightest: #eda6a6;
  --danger-light: #e47c7c;
  --danger-dark: #511010;
  --danger-darkest: #270808;
  --default: #646c8a;
  --default-bright: #f2f3f6;
  --default-lightest: #c9ccd8;
  --default-light: #abb0c2;
  --default-dark: #2e3240;
  --default-darkest: #191b23;
  --font-size-xs: 0.8rem;
  --font-size-sm: 0.9rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xl2: 1.965rem;
  --font-size-xl3: 2rem;
  --font-size-xl4: 2.25rem;
  --font-size-xl5: 2.5rem;
  --font-size-xl6: 2.75rem;
  --font-size-xl7: 3rem;
  --font-size-xl8: 4rem;
  --border-size-xs2: 0.06rem;
  --border-size-xs: 0.13rem;
  --border-size-sm: 0.19rem;
  --border-size-md: 0.25rem;
  --border-size-lg: 0.38rem;
  --border-size-xl: 0.5rem;
  --border-size-xl2: 0.75rem;
  --border-size-xl3: 1rem;
  --border-size-xl4: 1.25rem;
  --border-size-xl5: 2.25rem;
  --border-size-xl6: 2rem;
  --border-size-xl7: 2.5rem;
  --border-size-xl8: 3rem; }

/*** Helper classes End ***/
/*** ColorPallete Start ***/
.focus\:border-primary-bright:focus,
.active\:border-primary-bright:active,
.hover\:border-primary-bright:hover,
.after\:border-primary-bright::after,
.before\:border-primary-bright::before,
.border-primary-bright {
  border-color: var(--primary-bright);
  color: var(--primary); }

.focus\:bg-primary-bright:focus,
.active\:bg-primary-bright:active,
.hover\:bg-primary-bright:hover,
.after\:bg-primary-bright::after,
.before\:bg-primary-bright::before,
.bg-primary-bright {
  background-color: var(--primary-bright);
  color: var(--primary-darkest); }

.focus\:color-primary-bright:focus,
.active\:color-primary-bright:active,
.hover\:color-primary-bright:hover,
.after\:color-primary-bright::after,
.before\:color-primary-bright::before,
.color-primary-bright {
  color: var(--primary-bright); }

.focus\:border-primary-lightest:focus,
.active\:border-primary-lightest:active,
.hover\:border-primary-lightest:hover,
.after\:border-primary-lightest::after,
.before\:border-primary-lightest::before,
.border-primary-lightest {
  border-color: var(--primary-lightest);
  color: var(--primary); }

.focus\:bg-primary-lightest:focus,
.active\:bg-primary-lightest:active,
.hover\:bg-primary-lightest:hover,
.after\:bg-primary-lightest::after,
.before\:bg-primary-lightest::before,
.bg-primary-lightest {
  background-color: var(--primary-lightest);
  color: var(--primary-darkest); }

.focus\:color-primary-lightest:focus,
.active\:color-primary-lightest:active,
.hover\:color-primary-lightest:hover,
.after\:color-primary-lightest::after,
.before\:color-primary-lightest::before,
.color-primary-lightest {
  color: var(--primary-lightest); }

.focus\:border-primary-light:focus,
.active\:border-primary-light:active,
.hover\:border-primary-light:hover,
.after\:border-primary-light::after,
.before\:border-primary-light::before,
.border-primary-light {
  border-color: var(--primary-light);
  color: var(--primary); }

.focus\:bg-primary-light:focus,
.active\:bg-primary-light:active,
.hover\:bg-primary-light:hover,
.after\:bg-primary-light::after,
.before\:bg-primary-light::before,
.bg-primary-light {
  background-color: var(--primary-light);
  color: var(--primary-darkest); }

.focus\:color-primary-light:focus,
.active\:color-primary-light:active,
.hover\:color-primary-light:hover,
.after\:color-primary-light::after,
.before\:color-primary-light::before,
.color-primary-light {
  color: var(--primary-light); }

.focus\:border-primary:focus,
.active\:border-primary:active,
.hover\:border-primary:hover,
.after\:border-primary::after,
.before\:border-primary::before,
.border-primary {
  border-color: var(--primary);
  color: var(--primary); }

.focus\:bg-primary:focus,
.active\:bg-primary:active,
.hover\:bg-primary:hover,
.after\:bg-primary::after,
.before\:bg-primary::before,
.bg-primary,
body > header,
body > footer {
  background-color: var(--primary);
  color: var(--primary-bright); }

.focus\:color-primary:focus,
.active\:color-primary:active,
.hover\:color-primary:hover,
.after\:color-primary::after,
.before\:color-primary::before,
.color-primary {
  color: var(--primary); }

.focus\:border-primary-dark:focus,
.active\:border-primary-dark:active,
.hover\:border-primary-dark:hover,
.after\:border-primary-dark::after,
.before\:border-primary-dark::before,
.border-primary-dark {
  border-color: var(--primary-dark);
  color: var(--primary-dark); }

.focus\:bg-primary-dark:focus,
.active\:bg-primary-dark:active,
.hover\:bg-primary-dark:hover,
.after\:bg-primary-dark::after,
.before\:bg-primary-dark::before,
.bg-primary-dark {
  background-color: var(--primary-dark);
  color: var(--primary-bright); }

.focus\:color-primary-dark:focus,
.active\:color-primary-dark:active,
.hover\:color-primary-dark:hover,
.after\:color-primary-dark::after,
.before\:color-primary-dark::before,
.color-primary-dark {
  color: var(--primary-dark); }

.focus\:border-primary-darkest:focus,
.active\:border-primary-darkest:active,
.hover\:border-primary-darkest:hover,
.after\:border-primary-darkest::after,
.before\:border-primary-darkest::before,
.border-primary-darkest {
  border-color: var(--primary-darkest);
  color: var(--primary-darkest); }

.focus\:bg-primary-darkest:focus,
.active\:bg-primary-darkest:active,
.hover\:bg-primary-darkest:hover,
.after\:bg-primary-darkest::after,
.before\:bg-primary-darkest::before,
.bg-primary-darkest {
  background-color: var(--primary-darkest);
  color: var(--primary-bright); }

.focus\:color-primary-darkest:focus,
.active\:color-primary-darkest:active,
.hover\:color-primary-darkest:hover,
.after\:color-primary-darkest::after,
.before\:color-primary-darkest::before,
.color-primary-darkest {
  color: var(--primary-darkest); }

.focus\:border-accent-bright:focus,
.active\:border-accent-bright:active,
.hover\:border-accent-bright:hover,
.after\:border-accent-bright::after,
.before\:border-accent-bright::before,
.border-accent-bright {
  border-color: var(--accent-bright);
  color: var(--accent); }

.focus\:bg-accent-bright:focus,
.active\:bg-accent-bright:active,
.hover\:bg-accent-bright:hover,
.after\:bg-accent-bright::after,
.before\:bg-accent-bright::before,
.bg-accent-bright {
  background-color: var(--accent-bright);
  color: var(--accent-darkest); }

.focus\:color-accent-bright:focus,
.active\:color-accent-bright:active,
.hover\:color-accent-bright:hover,
.after\:color-accent-bright::after,
.before\:color-accent-bright::before,
.color-accent-bright {
  color: var(--accent-bright); }

.focus\:border-accent-lightest:focus,
.active\:border-accent-lightest:active,
.hover\:border-accent-lightest:hover,
.after\:border-accent-lightest::after,
.before\:border-accent-lightest::before,
.border-accent-lightest {
  border-color: var(--accent-lightest);
  color: var(--accent); }

.focus\:bg-accent-lightest:focus,
.active\:bg-accent-lightest:active,
.hover\:bg-accent-lightest:hover,
.after\:bg-accent-lightest::after,
.before\:bg-accent-lightest::before,
.bg-accent-lightest {
  background-color: var(--accent-lightest);
  color: var(--accent-darkest); }

.focus\:color-accent-lightest:focus,
.active\:color-accent-lightest:active,
.hover\:color-accent-lightest:hover,
.after\:color-accent-lightest::after,
.before\:color-accent-lightest::before,
.color-accent-lightest {
  color: var(--accent-lightest); }

.focus\:border-accent-light:focus,
.active\:border-accent-light:active,
.hover\:border-accent-light:hover,
.after\:border-accent-light::after,
.before\:border-accent-light::before,
.border-accent-light {
  border-color: var(--accent-light);
  color: var(--accent); }

.focus\:bg-accent-light:focus,
.active\:bg-accent-light:active,
.hover\:bg-accent-light:hover,
.after\:bg-accent-light::after,
.before\:bg-accent-light::before,
.bg-accent-light {
  background-color: var(--accent-light);
  color: var(--accent-darkest); }

.focus\:color-accent-light:focus,
.active\:color-accent-light:active,
.hover\:color-accent-light:hover,
.after\:color-accent-light::after,
.before\:color-accent-light::before,
.color-accent-light {
  color: var(--accent-light); }

.focus\:border-accent:focus,
.active\:border-accent:active,
.hover\:border-accent:hover,
.after\:border-accent::after,
.before\:border-accent::before,
.border-accent {
  border-color: var(--accent);
  color: var(--accent); }

.focus\:bg-accent:focus,
.active\:bg-accent:active,
.hover\:bg-accent:hover,
.after\:bg-accent::after,
.before\:bg-accent::before,
.bg-accent {
  background-color: var(--accent);
  color: var(--accent-bright); }

.focus\:color-accent:focus,
.active\:color-accent:active,
.hover\:color-accent:hover,
.after\:color-accent::after,
.before\:color-accent::before,
.color-accent {
  color: var(--accent); }

.focus\:border-accent-dark:focus,
.active\:border-accent-dark:active,
.hover\:border-accent-dark:hover,
.after\:border-accent-dark::after,
.before\:border-accent-dark::before,
.border-accent-dark {
  border-color: var(--accent-dark);
  color: var(--accent-dark); }

.focus\:bg-accent-dark:focus,
.active\:bg-accent-dark:active,
.hover\:bg-accent-dark:hover,
.after\:bg-accent-dark::after,
.before\:bg-accent-dark::before,
.bg-accent-dark {
  background-color: var(--accent-dark);
  color: var(--accent-bright); }

.focus\:color-accent-dark:focus,
.active\:color-accent-dark:active,
.hover\:color-accent-dark:hover,
.after\:color-accent-dark::after,
.before\:color-accent-dark::before,
.color-accent-dark {
  color: var(--accent-dark); }

.focus\:border-accent-darkest:focus,
.active\:border-accent-darkest:active,
.hover\:border-accent-darkest:hover,
.after\:border-accent-darkest::after,
.before\:border-accent-darkest::before,
.border-accent-darkest {
  border-color: var(--accent-darkest);
  color: var(--accent-darkest); }

.focus\:bg-accent-darkest:focus,
.active\:bg-accent-darkest:active,
.hover\:bg-accent-darkest:hover,
.after\:bg-accent-darkest::after,
.before\:bg-accent-darkest::before,
.bg-accent-darkest {
  background-color: var(--accent-darkest);
  color: var(--accent-bright); }

.focus\:color-accent-darkest:focus,
.active\:color-accent-darkest:active,
.hover\:color-accent-darkest:hover,
.after\:color-accent-darkest::after,
.before\:color-accent-darkest::before,
.color-accent-darkest {
  color: var(--accent-darkest); }

.focus\:border-success-bright:focus,
.active\:border-success-bright:active,
.hover\:border-success-bright:hover,
.after\:border-success-bright::after,
.before\:border-success-bright::before,
.border-success-bright {
  border-color: var(--success-bright);
  color: var(--success); }

.focus\:bg-success-bright:focus,
.active\:bg-success-bright:active,
.hover\:bg-success-bright:hover,
.after\:bg-success-bright::after,
.before\:bg-success-bright::before,
.bg-success-bright {
  background-color: var(--success-bright);
  color: var(--success-darkest); }

.focus\:color-success-bright:focus,
.active\:color-success-bright:active,
.hover\:color-success-bright:hover,
.after\:color-success-bright::after,
.before\:color-success-bright::before,
.color-success-bright {
  color: var(--success-bright); }

.focus\:border-success-lightest:focus,
.active\:border-success-lightest:active,
.hover\:border-success-lightest:hover,
.after\:border-success-lightest::after,
.before\:border-success-lightest::before,
.border-success-lightest {
  border-color: var(--success-lightest);
  color: var(--success); }

.focus\:bg-success-lightest:focus,
.active\:bg-success-lightest:active,
.hover\:bg-success-lightest:hover,
.after\:bg-success-lightest::after,
.before\:bg-success-lightest::before,
.bg-success-lightest {
  background-color: var(--success-lightest);
  color: var(--success-darkest); }

.focus\:color-success-lightest:focus,
.active\:color-success-lightest:active,
.hover\:color-success-lightest:hover,
.after\:color-success-lightest::after,
.before\:color-success-lightest::before,
.color-success-lightest {
  color: var(--success-lightest); }

.focus\:border-success-light:focus,
.active\:border-success-light:active,
.hover\:border-success-light:hover,
.after\:border-success-light::after,
.before\:border-success-light::before,
.border-success-light {
  border-color: var(--success-light);
  color: var(--success); }

.focus\:bg-success-light:focus,
.active\:bg-success-light:active,
.hover\:bg-success-light:hover,
.after\:bg-success-light::after,
.before\:bg-success-light::before,
.bg-success-light {
  background-color: var(--success-light);
  color: var(--success-darkest); }

.focus\:color-success-light:focus,
.active\:color-success-light:active,
.hover\:color-success-light:hover,
.after\:color-success-light::after,
.before\:color-success-light::before,
.color-success-light {
  color: var(--success-light); }

.focus\:border-success:focus,
.active\:border-success:active,
.hover\:border-success:hover,
.after\:border-success::after,
.before\:border-success::before,
.border-success {
  border-color: var(--success);
  color: var(--success); }

.focus\:bg-success:focus,
.active\:bg-success:active,
.hover\:bg-success:hover,
.after\:bg-success::after,
.before\:bg-success::before,
.bg-success {
  background-color: var(--success);
  color: var(--success-bright); }

.focus\:color-success:focus,
.active\:color-success:active,
.hover\:color-success:hover,
.after\:color-success::after,
.before\:color-success::before,
.color-success {
  color: var(--success); }

.focus\:border-success-dark:focus,
.active\:border-success-dark:active,
.hover\:border-success-dark:hover,
.after\:border-success-dark::after,
.before\:border-success-dark::before,
.border-success-dark {
  border-color: var(--success-dark);
  color: var(--success-dark); }

.focus\:bg-success-dark:focus,
.active\:bg-success-dark:active,
.hover\:bg-success-dark:hover,
.after\:bg-success-dark::after,
.before\:bg-success-dark::before,
.bg-success-dark {
  background-color: var(--success-dark);
  color: var(--success-bright); }

.focus\:color-success-dark:focus,
.active\:color-success-dark:active,
.hover\:color-success-dark:hover,
.after\:color-success-dark::after,
.before\:color-success-dark::before,
.color-success-dark {
  color: var(--success-dark); }

.focus\:border-success-darkest:focus,
.active\:border-success-darkest:active,
.hover\:border-success-darkest:hover,
.after\:border-success-darkest::after,
.before\:border-success-darkest::before,
.border-success-darkest {
  border-color: var(--success-darkest);
  color: var(--success-darkest); }

.focus\:bg-success-darkest:focus,
.active\:bg-success-darkest:active,
.hover\:bg-success-darkest:hover,
.after\:bg-success-darkest::after,
.before\:bg-success-darkest::before,
.bg-success-darkest {
  background-color: var(--success-darkest);
  color: var(--success-bright); }

.focus\:color-success-darkest:focus,
.active\:color-success-darkest:active,
.hover\:color-success-darkest:hover,
.after\:color-success-darkest::after,
.before\:color-success-darkest::before,
.color-success-darkest {
  color: var(--success-darkest); }

.focus\:border-info-bright:focus,
.active\:border-info-bright:active,
.hover\:border-info-bright:hover,
.after\:border-info-bright::after,
.before\:border-info-bright::before,
.border-info-bright {
  border-color: var(--info-bright);
  color: var(--info); }

.focus\:bg-info-bright:focus,
.active\:bg-info-bright:active,
.hover\:bg-info-bright:hover,
.after\:bg-info-bright::after,
.before\:bg-info-bright::before,
.bg-info-bright {
  background-color: var(--info-bright);
  color: var(--info-darkest); }

.focus\:color-info-bright:focus,
.active\:color-info-bright:active,
.hover\:color-info-bright:hover,
.after\:color-info-bright::after,
.before\:color-info-bright::before,
.color-info-bright {
  color: var(--info-bright); }

.focus\:border-info-lightest:focus,
.active\:border-info-lightest:active,
.hover\:border-info-lightest:hover,
.after\:border-info-lightest::after,
.before\:border-info-lightest::before,
.border-info-lightest {
  border-color: var(--info-lightest);
  color: var(--info); }

.focus\:bg-info-lightest:focus,
.active\:bg-info-lightest:active,
.hover\:bg-info-lightest:hover,
.after\:bg-info-lightest::after,
.before\:bg-info-lightest::before,
.bg-info-lightest {
  background-color: var(--info-lightest);
  color: var(--info-darkest); }

.focus\:color-info-lightest:focus,
.active\:color-info-lightest:active,
.hover\:color-info-lightest:hover,
.after\:color-info-lightest::after,
.before\:color-info-lightest::before,
.color-info-lightest {
  color: var(--info-lightest); }

.focus\:border-info-light:focus,
.active\:border-info-light:active,
.hover\:border-info-light:hover,
.after\:border-info-light::after,
.before\:border-info-light::before,
.border-info-light {
  border-color: var(--info-light);
  color: var(--info); }

.focus\:bg-info-light:focus,
.active\:bg-info-light:active,
.hover\:bg-info-light:hover,
.after\:bg-info-light::after,
.before\:bg-info-light::before,
.bg-info-light {
  background-color: var(--info-light);
  color: var(--info-darkest); }

.focus\:color-info-light:focus,
.active\:color-info-light:active,
.hover\:color-info-light:hover,
.after\:color-info-light::after,
.before\:color-info-light::before,
.color-info-light {
  color: var(--info-light); }

.focus\:border-info:focus,
.active\:border-info:active,
.hover\:border-info:hover,
.after\:border-info::after,
.before\:border-info::before,
.border-info {
  border-color: var(--info);
  color: var(--info); }

.focus\:bg-info:focus,
.active\:bg-info:active,
.hover\:bg-info:hover,
.after\:bg-info::after,
.before\:bg-info::before,
.bg-info {
  background-color: var(--info);
  color: var(--info-bright); }

.focus\:color-info:focus,
.active\:color-info:active,
.hover\:color-info:hover,
.after\:color-info::after,
.before\:color-info::before,
.color-info {
  color: var(--info); }

.focus\:border-info-dark:focus,
.active\:border-info-dark:active,
.hover\:border-info-dark:hover,
.after\:border-info-dark::after,
.before\:border-info-dark::before,
.border-info-dark {
  border-color: var(--info-dark);
  color: var(--info-dark); }

.focus\:bg-info-dark:focus,
.active\:bg-info-dark:active,
.hover\:bg-info-dark:hover,
.after\:bg-info-dark::after,
.before\:bg-info-dark::before,
.bg-info-dark {
  background-color: var(--info-dark);
  color: var(--info-bright); }

.focus\:color-info-dark:focus,
.active\:color-info-dark:active,
.hover\:color-info-dark:hover,
.after\:color-info-dark::after,
.before\:color-info-dark::before,
.color-info-dark {
  color: var(--info-dark); }

.focus\:border-info-darkest:focus,
.active\:border-info-darkest:active,
.hover\:border-info-darkest:hover,
.after\:border-info-darkest::after,
.before\:border-info-darkest::before,
.border-info-darkest {
  border-color: var(--info-darkest);
  color: var(--info-darkest); }

.focus\:bg-info-darkest:focus,
.active\:bg-info-darkest:active,
.hover\:bg-info-darkest:hover,
.after\:bg-info-darkest::after,
.before\:bg-info-darkest::before,
.bg-info-darkest {
  background-color: var(--info-darkest);
  color: var(--info-bright); }

.focus\:color-info-darkest:focus,
.active\:color-info-darkest:active,
.hover\:color-info-darkest:hover,
.after\:color-info-darkest::after,
.before\:color-info-darkest::before,
.color-info-darkest {
  color: var(--info-darkest); }

.focus\:border-warning-bright:focus,
.active\:border-warning-bright:active,
.hover\:border-warning-bright:hover,
.after\:border-warning-bright::after,
.before\:border-warning-bright::before,
.border-warning-bright {
  border-color: var(--warning-bright);
  color: var(--warning); }

.focus\:bg-warning-bright:focus,
.active\:bg-warning-bright:active,
.hover\:bg-warning-bright:hover,
.after\:bg-warning-bright::after,
.before\:bg-warning-bright::before,
.bg-warning-bright {
  background-color: var(--warning-bright);
  color: var(--warning-darkest); }

.focus\:color-warning-bright:focus,
.active\:color-warning-bright:active,
.hover\:color-warning-bright:hover,
.after\:color-warning-bright::after,
.before\:color-warning-bright::before,
.color-warning-bright {
  color: var(--warning-bright); }

.focus\:border-warning-lightest:focus,
.active\:border-warning-lightest:active,
.hover\:border-warning-lightest:hover,
.after\:border-warning-lightest::after,
.before\:border-warning-lightest::before,
.border-warning-lightest {
  border-color: var(--warning-lightest);
  color: var(--warning); }

.focus\:bg-warning-lightest:focus,
.active\:bg-warning-lightest:active,
.hover\:bg-warning-lightest:hover,
.after\:bg-warning-lightest::after,
.before\:bg-warning-lightest::before,
.bg-warning-lightest {
  background-color: var(--warning-lightest);
  color: var(--warning-darkest); }

.focus\:color-warning-lightest:focus,
.active\:color-warning-lightest:active,
.hover\:color-warning-lightest:hover,
.after\:color-warning-lightest::after,
.before\:color-warning-lightest::before,
.color-warning-lightest {
  color: var(--warning-lightest); }

.focus\:border-warning-light:focus,
.active\:border-warning-light:active,
.hover\:border-warning-light:hover,
.after\:border-warning-light::after,
.before\:border-warning-light::before,
.border-warning-light {
  border-color: var(--warning-light);
  color: var(--warning); }

.focus\:bg-warning-light:focus,
.active\:bg-warning-light:active,
.hover\:bg-warning-light:hover,
.after\:bg-warning-light::after,
.before\:bg-warning-light::before,
.bg-warning-light {
  background-color: var(--warning-light);
  color: var(--warning-darkest); }

.focus\:color-warning-light:focus,
.active\:color-warning-light:active,
.hover\:color-warning-light:hover,
.after\:color-warning-light::after,
.before\:color-warning-light::before,
.color-warning-light {
  color: var(--warning-light); }

.focus\:border-warning:focus,
.active\:border-warning:active,
.hover\:border-warning:hover,
.after\:border-warning::after,
.before\:border-warning::before,
.border-warning {
  border-color: var(--warning);
  color: var(--warning); }

.focus\:bg-warning:focus,
.active\:bg-warning:active,
.hover\:bg-warning:hover,
.after\:bg-warning::after,
.before\:bg-warning::before,
.bg-warning {
  background-color: var(--warning);
  color: var(--warning-bright); }

.focus\:color-warning:focus,
.active\:color-warning:active,
.hover\:color-warning:hover,
.after\:color-warning::after,
.before\:color-warning::before,
.color-warning {
  color: var(--warning); }

.focus\:border-warning-dark:focus,
.active\:border-warning-dark:active,
.hover\:border-warning-dark:hover,
.after\:border-warning-dark::after,
.before\:border-warning-dark::before,
.border-warning-dark {
  border-color: var(--warning-dark);
  color: var(--warning-dark); }

.focus\:bg-warning-dark:focus,
.active\:bg-warning-dark:active,
.hover\:bg-warning-dark:hover,
.after\:bg-warning-dark::after,
.before\:bg-warning-dark::before,
.bg-warning-dark {
  background-color: var(--warning-dark);
  color: var(--warning-bright); }

.focus\:color-warning-dark:focus,
.active\:color-warning-dark:active,
.hover\:color-warning-dark:hover,
.after\:color-warning-dark::after,
.before\:color-warning-dark::before,
.color-warning-dark {
  color: var(--warning-dark); }

.focus\:border-warning-darkest:focus,
.active\:border-warning-darkest:active,
.hover\:border-warning-darkest:hover,
.after\:border-warning-darkest::after,
.before\:border-warning-darkest::before,
.border-warning-darkest {
  border-color: var(--warning-darkest);
  color: var(--warning-darkest); }

.focus\:bg-warning-darkest:focus,
.active\:bg-warning-darkest:active,
.hover\:bg-warning-darkest:hover,
.after\:bg-warning-darkest::after,
.before\:bg-warning-darkest::before,
.bg-warning-darkest {
  background-color: var(--warning-darkest);
  color: var(--warning-bright); }

.focus\:color-warning-darkest:focus,
.active\:color-warning-darkest:active,
.hover\:color-warning-darkest:hover,
.after\:color-warning-darkest::after,
.before\:color-warning-darkest::before,
.color-warning-darkest {
  color: var(--warning-darkest); }

.focus\:border-danger-bright:focus,
.active\:border-danger-bright:active,
.hover\:border-danger-bright:hover,
.after\:border-danger-bright::after,
.before\:border-danger-bright::before,
.border-danger-bright {
  border-color: var(--danger-bright);
  color: var(--danger); }

.focus\:bg-danger-bright:focus,
.active\:bg-danger-bright:active,
.hover\:bg-danger-bright:hover,
.after\:bg-danger-bright::after,
.before\:bg-danger-bright::before,
.bg-danger-bright {
  background-color: var(--danger-bright);
  color: var(--danger-darkest); }

.focus\:color-danger-bright:focus,
.active\:color-danger-bright:active,
.hover\:color-danger-bright:hover,
.after\:color-danger-bright::after,
.before\:color-danger-bright::before,
.color-danger-bright {
  color: var(--danger-bright); }

.focus\:border-danger-lightest:focus,
.active\:border-danger-lightest:active,
.hover\:border-danger-lightest:hover,
.after\:border-danger-lightest::after,
.before\:border-danger-lightest::before,
.border-danger-lightest {
  border-color: var(--danger-lightest);
  color: var(--danger); }

.focus\:bg-danger-lightest:focus,
.active\:bg-danger-lightest:active,
.hover\:bg-danger-lightest:hover,
.after\:bg-danger-lightest::after,
.before\:bg-danger-lightest::before,
.bg-danger-lightest {
  background-color: var(--danger-lightest);
  color: var(--danger-darkest); }

.focus\:color-danger-lightest:focus,
.active\:color-danger-lightest:active,
.hover\:color-danger-lightest:hover,
.after\:color-danger-lightest::after,
.before\:color-danger-lightest::before,
.color-danger-lightest {
  color: var(--danger-lightest); }

.focus\:border-danger-light:focus,
.active\:border-danger-light:active,
.hover\:border-danger-light:hover,
.after\:border-danger-light::after,
.before\:border-danger-light::before,
.border-danger-light {
  border-color: var(--danger-light);
  color: var(--danger); }

.focus\:bg-danger-light:focus,
.active\:bg-danger-light:active,
.hover\:bg-danger-light:hover,
.after\:bg-danger-light::after,
.before\:bg-danger-light::before,
.bg-danger-light {
  background-color: var(--danger-light);
  color: var(--danger-darkest); }

.focus\:color-danger-light:focus,
.active\:color-danger-light:active,
.hover\:color-danger-light:hover,
.after\:color-danger-light::after,
.before\:color-danger-light::before,
.color-danger-light {
  color: var(--danger-light); }

.focus\:border-danger:focus,
.active\:border-danger:active,
.hover\:border-danger:hover,
.after\:border-danger::after,
.before\:border-danger::before,
.border-danger {
  border-color: var(--danger);
  color: var(--danger); }

.focus\:bg-danger:focus,
.active\:bg-danger:active,
.hover\:bg-danger:hover,
.after\:bg-danger::after,
.before\:bg-danger::before,
.bg-danger {
  background-color: var(--danger);
  color: var(--danger-bright); }

.focus\:color-danger:focus,
.active\:color-danger:active,
.hover\:color-danger:hover,
.after\:color-danger::after,
.before\:color-danger::before,
.color-danger {
  color: var(--danger); }

.focus\:border-danger-dark:focus,
.active\:border-danger-dark:active,
.hover\:border-danger-dark:hover,
.after\:border-danger-dark::after,
.before\:border-danger-dark::before,
.border-danger-dark {
  border-color: var(--danger-dark);
  color: var(--danger-dark); }

.focus\:bg-danger-dark:focus,
.active\:bg-danger-dark:active,
.hover\:bg-danger-dark:hover,
.after\:bg-danger-dark::after,
.before\:bg-danger-dark::before,
.bg-danger-dark {
  background-color: var(--danger-dark);
  color: var(--danger-bright); }

.focus\:color-danger-dark:focus,
.active\:color-danger-dark:active,
.hover\:color-danger-dark:hover,
.after\:color-danger-dark::after,
.before\:color-danger-dark::before,
.color-danger-dark {
  color: var(--danger-dark); }

.focus\:border-danger-darkest:focus,
.active\:border-danger-darkest:active,
.hover\:border-danger-darkest:hover,
.after\:border-danger-darkest::after,
.before\:border-danger-darkest::before,
.border-danger-darkest {
  border-color: var(--danger-darkest);
  color: var(--danger-darkest); }

.focus\:bg-danger-darkest:focus,
.active\:bg-danger-darkest:active,
.hover\:bg-danger-darkest:hover,
.after\:bg-danger-darkest::after,
.before\:bg-danger-darkest::before,
.bg-danger-darkest {
  background-color: var(--danger-darkest);
  color: var(--danger-bright); }

.focus\:color-danger-darkest:focus,
.active\:color-danger-darkest:active,
.hover\:color-danger-darkest:hover,
.after\:color-danger-darkest::after,
.before\:color-danger-darkest::before,
.color-danger-darkest {
  color: var(--danger-darkest); }

.focus\:border-default-bright:focus,
.active\:border-default-bright:active,
.hover\:border-default-bright:hover,
.after\:border-default-bright::after,
.before\:border-default-bright::before,
.border-default-bright {
  border-color: var(--default-bright);
  color: var(--default); }

.focus\:bg-default-bright:focus,
.active\:bg-default-bright:active,
.hover\:bg-default-bright:hover,
.after\:bg-default-bright::after,
.before\:bg-default-bright::before,
.bg-default-bright {
  background-color: var(--default-bright);
  color: var(--default-darkest); }

.focus\:color-default-bright:focus,
.active\:color-default-bright:active,
.hover\:color-default-bright:hover,
.after\:color-default-bright::after,
.before\:color-default-bright::before,
.color-default-bright {
  color: var(--default-bright); }

.focus\:border-default-lightest:focus,
.active\:border-default-lightest:active,
.hover\:border-default-lightest:hover,
.after\:border-default-lightest::after,
.before\:border-default-lightest::before,
.border-default-lightest {
  border-color: var(--default-lightest);
  color: var(--default); }

.focus\:bg-default-lightest:focus,
.active\:bg-default-lightest:active,
.hover\:bg-default-lightest:hover,
.after\:bg-default-lightest::after,
.before\:bg-default-lightest::before,
.bg-default-lightest {
  background-color: var(--default-lightest);
  color: var(--default-darkest); }

.focus\:color-default-lightest:focus,
.active\:color-default-lightest:active,
.hover\:color-default-lightest:hover,
.after\:color-default-lightest::after,
.before\:color-default-lightest::before,
.color-default-lightest {
  color: var(--default-lightest); }

.focus\:border-default-light:focus,
.active\:border-default-light:active,
.hover\:border-default-light:hover,
.after\:border-default-light::after,
.before\:border-default-light::before,
.border-default-light {
  border-color: var(--default-light);
  color: var(--default); }

.focus\:bg-default-light:focus,
.active\:bg-default-light:active,
.hover\:bg-default-light:hover,
.after\:bg-default-light::after,
.before\:bg-default-light::before,
.bg-default-light {
  background-color: var(--default-light);
  color: var(--default-darkest); }

.focus\:color-default-light:focus,
.active\:color-default-light:active,
.hover\:color-default-light:hover,
.after\:color-default-light::after,
.before\:color-default-light::before,
.color-default-light {
  color: var(--default-light); }

.focus\:border-default:focus,
.active\:border-default:active,
.hover\:border-default:hover,
.after\:border-default::after,
.before\:border-default::before,
.border-default {
  border-color: var(--default);
  color: var(--default); }

.focus\:bg-default:focus,
.active\:bg-default:active,
.hover\:bg-default:hover,
.after\:bg-default::after,
.before\:bg-default::before,
.bg-default {
  background-color: var(--default);
  color: var(--default-bright); }

.focus\:color-default:focus,
.active\:color-default:active,
.hover\:color-default:hover,
.after\:color-default::after,
.before\:color-default::before,
.color-default {
  color: var(--default); }

.focus\:border-default-dark:focus,
.active\:border-default-dark:active,
.hover\:border-default-dark:hover,
.after\:border-default-dark::after,
.before\:border-default-dark::before,
.border-default-dark {
  border-color: var(--default-dark);
  color: var(--default-dark); }

.focus\:bg-default-dark:focus,
.active\:bg-default-dark:active,
.hover\:bg-default-dark:hover,
.after\:bg-default-dark::after,
.before\:bg-default-dark::before,
.bg-default-dark {
  background-color: var(--default-dark);
  color: var(--default-bright); }

.focus\:color-default-dark:focus,
.active\:color-default-dark:active,
.hover\:color-default-dark:hover,
.after\:color-default-dark::after,
.before\:color-default-dark::before,
.color-default-dark {
  color: var(--default-dark); }

.focus\:border-default-darkest:focus,
.active\:border-default-darkest:active,
.hover\:border-default-darkest:hover,
.after\:border-default-darkest::after,
.before\:border-default-darkest::before,
.border-default-darkest {
  border-color: var(--default-darkest);
  color: var(--default-darkest); }

.focus\:bg-default-darkest:focus,
.active\:bg-default-darkest:active,
.hover\:bg-default-darkest:hover,
.after\:bg-default-darkest::after,
.before\:bg-default-darkest::before,
.bg-default-darkest {
  background-color: var(--default-darkest);
  color: var(--default-bright); }

.focus\:color-default-darkest:focus,
.active\:color-default-darkest:active,
.hover\:color-default-darkest:hover,
.after\:color-default-darkest::after,
.before\:color-default-darkest::before,
.color-default-darkest {
  color: var(--default-darkest); }

.has-error {
  border-color: var(--danger);
  color: var(--danger); }

.has-success {
  border-color: var(--success);
  color: var(--success); }

.has-warning {
  border-color: var(--warning);
  color: var(--warning); }

.has-info {
  border-color: var(--info);
  color: var(--info); }

header, footer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  overflow: visible;
  height: 3.5rem;
  padding: 1rem; }
  header > button, footer > button {
    flex: 0 0 auto;
    padding: 1rem; }
    header > button:first-child, footer > button:first-child {
      margin-right: -1rem; }
  header > h1, header > h2, header > h3, footer > h1, footer > h2, footer > h3 {
    margin: 0;
    flex: 0 0 auto;
    font-size: 1rem; }

footer:last-child {
  border-top: 0.06em solid var(--default-lightest); }

footer:first-child {
  border-top: none; }

header:first-child {
  border-bottom: 0.06em solid var(--default-lightest); }

header:last-child {
  border-bottom: none; }

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex: 1 1 auto;
  overflow: visible;
  color: inherit; }
  nav > .fab {
    box-shadow: none;
    position: relative;
    display: inline-block;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    vertical-align: middle;
    font-size: 1em; }
  nav > a, nav > a, nav > .btn, nav > button, nav > input[type="submit"], nav > button, nav > input[type="submit"] {
    text-transform: none;
    color: inherit;
    font-size: 1em; }
