.u-p-xs2 {
  padding: 0.25rem; }

.u-pt-xs2 {
  padding-top: 0.25rem; }

.u-pr-xs2 {
  padding-right: 0.25rem; }

.u-pb-xs2 {
  padding-bottom: 0.25rem; }

.u-pl-xs2 {
  padding-left: 0.25rem; }

.u-m-xs2 {
  margin: 0.25rem; }

.u-mt-xs2 {
  margin-top: 0.25rem; }

.u-mr-xs2 {
  margin-right: 0.25rem; }

.u-mb-xs2 {
  margin-bottom: 0.25rem; }

.u-ml-xs2 {
  margin-left: 0.25rem; }

.u-p-xs {
  padding: 0.5rem; }

.u-pt-xs {
  padding-top: 0.5rem; }

.u-pr-xs {
  padding-right: 0.5rem; }

.u-pb-xs {
  padding-bottom: 0.5rem; }

.u-pl-xs {
  padding-left: 0.5rem; }

.u-m-xs {
  margin: 0.5rem; }

.u-mt-xs {
  margin-top: 0.5rem; }

.u-mr-xs {
  margin-right: 0.5rem; }

.u-mb-xs {
  margin-bottom: 0.5rem; }

.u-ml-xs {
  margin-left: 0.5rem; }

.u-p-sm {
  padding: 0.75rem; }

.u-pt-sm {
  padding-top: 0.75rem; }

.u-pr-sm {
  padding-right: 0.75rem; }

.u-pb-sm {
  padding-bottom: 0.75rem; }

.u-pl-sm {
  padding-left: 0.75rem; }

.u-m-sm {
  margin: 0.75rem; }

.u-mt-sm {
  margin-top: 0.75rem; }

.u-mr-sm {
  margin-right: 0.75rem; }

.u-mb-sm {
  margin-bottom: 0.75rem; }

.u-ml-sm {
  margin-left: 0.75rem; }

.u-p-md {
  padding: 1rem; }

.u-pt-md {
  padding-top: 1rem; }

.u-pr-md {
  padding-right: 1rem; }

.u-pb-md {
  padding-bottom: 1rem; }

.u-pl-md {
  padding-left: 1rem; }

.u-m-md {
  margin: 1rem; }

.u-mt-md {
  margin-top: 1rem; }

.u-mr-md {
  margin-right: 1rem; }

.u-mb-md {
  margin-bottom: 1rem; }

.u-ml-md {
  margin-left: 1rem; }

.u-p-lg {
  padding: 1.25rem; }

.u-pt-lg {
  padding-top: 1.25rem; }

.u-pr-lg {
  padding-right: 1.25rem; }

.u-pb-lg {
  padding-bottom: 1.25rem; }

.u-pl-lg {
  padding-left: 1.25rem; }

.u-m-lg {
  margin: 1.25rem; }

.u-mt-lg {
  margin-top: 1.25rem; }

.u-mr-lg {
  margin-right: 1.25rem; }

.u-mb-lg {
  margin-bottom: 1.25rem; }

.u-ml-lg {
  margin-left: 1.25rem; }

.u-p-xl {
  padding: 1.5rem; }

.u-pt-xl {
  padding-top: 1.5rem; }

.u-pr-xl {
  padding-right: 1.5rem; }

.u-pb-xl {
  padding-bottom: 1.5rem; }

.u-pl-xl {
  padding-left: 1.5rem; }

.u-m-xl {
  margin: 1.5rem; }

.u-mt-xl {
  margin-top: 1.5rem; }

.u-mr-xl {
  margin-right: 1.5rem; }

.u-mb-xl {
  margin-bottom: 1.5rem; }

.u-ml-xl {
  margin-left: 1.5rem; }

.u-p-xl2 {
  padding: 1.965rem; }

.u-pt-xl2 {
  padding-top: 1.965rem; }

.u-pr-xl2 {
  padding-right: 1.965rem; }

.u-pb-xl2 {
  padding-bottom: 1.965rem; }

.u-pl-xl2 {
  padding-left: 1.965rem; }

.u-m-xl2 {
  margin: 1.965rem; }

.u-mt-xl2 {
  margin-top: 1.965rem; }

.u-mr-xl2 {
  margin-right: 1.965rem; }

.u-mb-xl2 {
  margin-bottom: 1.965rem; }

.u-ml-xl2 {
  margin-left: 1.965rem; }

.u-p-xl3 {
  padding: 2rem; }

.u-pt-xl3 {
  padding-top: 2rem; }

.u-pr-xl3 {
  padding-right: 2rem; }

.u-pb-xl3 {
  padding-bottom: 2rem; }

.u-pl-xl3 {
  padding-left: 2rem; }

.u-m-xl3 {
  margin: 2rem; }

.u-mt-xl3 {
  margin-top: 2rem; }

.u-mr-xl3 {
  margin-right: 2rem; }

.u-mb-xl3 {
  margin-bottom: 2rem; }

.u-ml-xl3 {
  margin-left: 2rem; }

.u-p-xl4 {
  padding: 2.25rem; }

.u-pt-xl4 {
  padding-top: 2.25rem; }

.u-pr-xl4 {
  padding-right: 2.25rem; }

.u-pb-xl4 {
  padding-bottom: 2.25rem; }

.u-pl-xl4 {
  padding-left: 2.25rem; }

.u-m-xl4 {
  margin: 2.25rem; }

.u-mt-xl4 {
  margin-top: 2.25rem; }

.u-mr-xl4 {
  margin-right: 2.25rem; }

.u-mb-xl4 {
  margin-bottom: 2.25rem; }

.u-ml-xl4 {
  margin-left: 2.25rem; }

.u-p-xl5 {
  padding: 2.5rem; }

.u-pt-xl5 {
  padding-top: 2.5rem; }

.u-pr-xl5 {
  padding-right: 2.5rem; }

.u-pb-xl5 {
  padding-bottom: 2.5rem; }

.u-pl-xl5 {
  padding-left: 2.5rem; }

.u-m-xl5 {
  margin: 2.5rem; }

.u-mt-xl5 {
  margin-top: 2.5rem; }

.u-mr-xl5 {
  margin-right: 2.5rem; }

.u-mb-xl5 {
  margin-bottom: 2.5rem; }

.u-ml-xl5 {
  margin-left: 2.5rem; }

.u-p-xl6 {
  padding: 2.75rem; }

.u-pt-xl6 {
  padding-top: 2.75rem; }

.u-pr-xl6 {
  padding-right: 2.75rem; }

.u-pb-xl6 {
  padding-bottom: 2.75rem; }

.u-pl-xl6 {
  padding-left: 2.75rem; }

.u-m-xl6 {
  margin: 2.75rem; }

.u-mt-xl6 {
  margin-top: 2.75rem; }

.u-mr-xl6 {
  margin-right: 2.75rem; }

.u-mb-xl6 {
  margin-bottom: 2.75rem; }

.u-ml-xl6 {
  margin-left: 2.75rem; }

.u-p-xl7 {
  padding: 3rem; }

.u-pt-xl7 {
  padding-top: 3rem; }

.u-pr-xl7 {
  padding-right: 3rem; }

.u-pb-xl7 {
  padding-bottom: 3rem; }

.u-pl-xl7 {
  padding-left: 3rem; }

.u-m-xl7 {
  margin: 3rem; }

.u-mt-xl7 {
  margin-top: 3rem; }

.u-mr-xl7 {
  margin-right: 3rem; }

.u-mb-xl7 {
  margin-bottom: 3rem; }

.u-ml-xl7 {
  margin-left: 3rem; }

.u-p-xl8 {
  padding: 4rem; }

.u-pt-xl8 {
  padding-top: 4rem; }

.u-pr-xl8 {
  padding-right: 4rem; }

.u-pb-xl8 {
  padding-bottom: 4rem; }

.u-pl-xl8 {
  padding-left: 4rem; }

.u-m-xl8 {
  margin: 4rem; }

.u-mt-xl8 {
  margin-top: 4rem; }

.u-mr-xl8 {
  margin-right: 4rem; }

.u-mb-xl8 {
  margin-bottom: 4rem; }

.u-ml-xl8 {
  margin-left: 4rem; }

.u-position-relative {
  position: relative; }

.u-position-static {
  position: static; }

.u-position-absolute {
  position: absolute; }

.u-position-fixed {
  position: fixed; }

.u-position-sticky {
  position: sticky; }

/*** Helper classes Start ***/
.u-scrollable {
  max-height: 360rem; }

.w-1\/2 {
  width: 50%; }

.w-1\/3 {
  width: 33.3333%; }

.w-2\/3 {
  width: 66.6667%; }

.w-1\/4 {
  width: 25%; }

.w-2\/4 {
  width: 50%; }

.w-3\/4 {
  width: 75%; }

.w-1\/5 {
  width: 20%; }

.w-2\/5 {
  width: 40%; }

.w-3\/5 {
  width: 60%; }

.w-4\/5 {
  width: 80%; }

.w-1\/6 {
  width: 16.6667%; }

.w-2\/6 {
  width: 33.3333%; }

.w-3\/6 {
  width: 50%; }

.w-4\/6 {
  width: 66.6667%; }

.w-5\/6 {
  width: 83.3333%; }

.w-1\/7 {
  width: 14.2857%; }

.w-2\/7 {
  width: 28.5714%; }

.w-3\/7 {
  width: 42.8571%; }

.w-4\/7 {
  width: 57.1429%; }

.w-5\/7 {
  width: 71.4286%; }

.w-6\/7 {
  width: 85.7143%; }

.w-1\/8 {
  width: 12.5%; }

.w-2\/8 {
  width: 25%; }

.w-3\/8 {
  width: 37.5%; }

.w-4\/8 {
  width: 50%; }

.w-5\/8 {
  width: 62.5%; }

.w-6\/8 {
  width: 75%; }

.w-7\/8 {
  width: 87.5%; }

.w-1\/9 {
  width: 11.1111%; }

.w-2\/9 {
  width: 22.2222%; }

.w-3\/9 {
  width: 33.3333%; }

.w-4\/9 {
  width: 44.4444%; }

.w-5\/9 {
  width: 55.5556%; }

.w-6\/9 {
  width: 66.6667%; }

.w-7\/9 {
  width: 77.7778%; }

.w-8\/9 {
  width: 88.8889%; }

.w-1\/10 {
  width: 10%; }

.w-2\/10 {
  width: 20%; }

.w-3\/10 {
  width: 30%; }

.w-4\/10 {
  width: 40%; }

.w-5\/10 {
  width: 50%; }

.w-6\/10 {
  width: 60%; }

.w-7\/10 {
  width: 70%; }

.w-8\/10 {
  width: 80%; }

.w-9\/10 {
  width: 90%; }

.w-1\/11 {
  width: 9.0909%; }

.w-2\/11 {
  width: 18.1818%; }

.w-3\/11 {
  width: 27.2727%; }

.w-4\/11 {
  width: 36.3636%; }

.w-5\/11 {
  width: 45.4545%; }

.w-6\/11 {
  width: 54.5455%; }

.w-7\/11 {
  width: 63.6364%; }

.w-8\/11 {
  width: 72.7273%; }

.w-9\/11 {
  width: 81.8182%; }

.w-10\/11 {
  width: 90.9091%; }

.w-1\/12 {
  width: 8.3333%; }

.w-2\/12 {
  width: 16.6667%; }

.w-3\/12 {
  width: 25%; }

.w-4\/12 {
  width: 33.3333%; }

.w-5\/12 {
  width: 41.6667%; }

.w-6\/12 {
  width: 50%; }

.w-7\/12 {
  width: 58.3333%; }

.w-8\/12 {
  width: 66.6667%; }

.w-9\/12 {
  width: 75%; }

.w-10\/12 {
  width: 83.3333%; }

.w-11\/12 {
  width: 91.6667%; }

@media screen and (min-width: 576px) {
  .sm\:w-1\/2 {
    width: 50%; }
  .sm\:w-1\/3 {
    width: 33.3333%; }
  .sm\:w-2\/3 {
    width: 66.6667%; }
  .sm\:w-1\/4 {
    width: 25%; }
  .sm\:w-2\/4 {
    width: 50%; }
  .sm\:w-3\/4 {
    width: 75%; }
  .sm\:w-1\/5 {
    width: 20%; }
  .sm\:w-2\/5 {
    width: 40%; }
  .sm\:w-3\/5 {
    width: 60%; }
  .sm\:w-4\/5 {
    width: 80%; }
  .sm\:w-1\/6 {
    width: 16.6667%; }
  .sm\:w-2\/6 {
    width: 33.3333%; }
  .sm\:w-3\/6 {
    width: 50%; }
  .sm\:w-4\/6 {
    width: 66.6667%; }
  .sm\:w-5\/6 {
    width: 83.3333%; }
  .sm\:w-1\/7 {
    width: 14.2857%; }
  .sm\:w-2\/7 {
    width: 28.5714%; }
  .sm\:w-3\/7 {
    width: 42.8571%; }
  .sm\:w-4\/7 {
    width: 57.1429%; }
  .sm\:w-5\/7 {
    width: 71.4286%; }
  .sm\:w-6\/7 {
    width: 85.7143%; }
  .sm\:w-1\/8 {
    width: 12.5%; }
  .sm\:w-2\/8 {
    width: 25%; }
  .sm\:w-3\/8 {
    width: 37.5%; }
  .sm\:w-4\/8 {
    width: 50%; }
  .sm\:w-5\/8 {
    width: 62.5%; }
  .sm\:w-6\/8 {
    width: 75%; }
  .sm\:w-7\/8 {
    width: 87.5%; }
  .sm\:w-1\/9 {
    width: 11.1111%; }
  .sm\:w-2\/9 {
    width: 22.2222%; }
  .sm\:w-3\/9 {
    width: 33.3333%; }
  .sm\:w-4\/9 {
    width: 44.4444%; }
  .sm\:w-5\/9 {
    width: 55.5556%; }
  .sm\:w-6\/9 {
    width: 66.6667%; }
  .sm\:w-7\/9 {
    width: 77.7778%; }
  .sm\:w-8\/9 {
    width: 88.8889%; }
  .sm\:w-1\/10 {
    width: 10%; }
  .sm\:w-2\/10 {
    width: 20%; }
  .sm\:w-3\/10 {
    width: 30%; }
  .sm\:w-4\/10 {
    width: 40%; }
  .sm\:w-5\/10 {
    width: 50%; }
  .sm\:w-6\/10 {
    width: 60%; }
  .sm\:w-7\/10 {
    width: 70%; }
  .sm\:w-8\/10 {
    width: 80%; }
  .sm\:w-9\/10 {
    width: 90%; }
  .sm\:w-1\/11 {
    width: 9.0909%; }
  .sm\:w-2\/11 {
    width: 18.1818%; }
  .sm\:w-3\/11 {
    width: 27.2727%; }
  .sm\:w-4\/11 {
    width: 36.3636%; }
  .sm\:w-5\/11 {
    width: 45.4545%; }
  .sm\:w-6\/11 {
    width: 54.5455%; }
  .sm\:w-7\/11 {
    width: 63.6364%; }
  .sm\:w-8\/11 {
    width: 72.7273%; }
  .sm\:w-9\/11 {
    width: 81.8182%; }
  .sm\:w-10\/11 {
    width: 90.9091%; }
  .sm\:w-1\/12 {
    width: 8.3333%; }
  .sm\:w-2\/12 {
    width: 16.6667%; }
  .sm\:w-3\/12 {
    width: 25%; }
  .sm\:w-4\/12 {
    width: 33.3333%; }
  .sm\:w-5\/12 {
    width: 41.6667%; }
  .sm\:w-6\/12 {
    width: 50%; }
  .sm\:w-7\/12 {
    width: 58.3333%; }
  .sm\:w-8\/12 {
    width: 66.6667%; }
  .sm\:w-9\/12 {
    width: 75%; }
  .sm\:w-10\/12 {
    width: 83.3333%; }
  .sm\:w-11\/12 {
    width: 91.6667%; } }

@media screen and (min-width: 768px) {
  .md\:w-1\/2 {
    width: 50%; }
  .md\:w-1\/3 {
    width: 33.3333%; }
  .md\:w-2\/3 {
    width: 66.6667%; }
  .md\:w-1\/4 {
    width: 25%; }
  .md\:w-2\/4 {
    width: 50%; }
  .md\:w-3\/4 {
    width: 75%; }
  .md\:w-1\/5 {
    width: 20%; }
  .md\:w-2\/5 {
    width: 40%; }
  .md\:w-3\/5 {
    width: 60%; }
  .md\:w-4\/5 {
    width: 80%; }
  .md\:w-1\/6 {
    width: 16.6667%; }
  .md\:w-2\/6 {
    width: 33.3333%; }
  .md\:w-3\/6 {
    width: 50%; }
  .md\:w-4\/6 {
    width: 66.6667%; }
  .md\:w-5\/6 {
    width: 83.3333%; }
  .md\:w-1\/7 {
    width: 14.2857%; }
  .md\:w-2\/7 {
    width: 28.5714%; }
  .md\:w-3\/7 {
    width: 42.8571%; }
  .md\:w-4\/7 {
    width: 57.1429%; }
  .md\:w-5\/7 {
    width: 71.4286%; }
  .md\:w-6\/7 {
    width: 85.7143%; }
  .md\:w-1\/8 {
    width: 12.5%; }
  .md\:w-2\/8 {
    width: 25%; }
  .md\:w-3\/8 {
    width: 37.5%; }
  .md\:w-4\/8 {
    width: 50%; }
  .md\:w-5\/8 {
    width: 62.5%; }
  .md\:w-6\/8 {
    width: 75%; }
  .md\:w-7\/8 {
    width: 87.5%; }
  .md\:w-1\/9 {
    width: 11.1111%; }
  .md\:w-2\/9 {
    width: 22.2222%; }
  .md\:w-3\/9 {
    width: 33.3333%; }
  .md\:w-4\/9 {
    width: 44.4444%; }
  .md\:w-5\/9 {
    width: 55.5556%; }
  .md\:w-6\/9 {
    width: 66.6667%; }
  .md\:w-7\/9 {
    width: 77.7778%; }
  .md\:w-8\/9 {
    width: 88.8889%; }
  .md\:w-1\/10 {
    width: 10%; }
  .md\:w-2\/10 {
    width: 20%; }
  .md\:w-3\/10 {
    width: 30%; }
  .md\:w-4\/10 {
    width: 40%; }
  .md\:w-5\/10 {
    width: 50%; }
  .md\:w-6\/10 {
    width: 60%; }
  .md\:w-7\/10 {
    width: 70%; }
  .md\:w-8\/10 {
    width: 80%; }
  .md\:w-9\/10 {
    width: 90%; }
  .md\:w-1\/11 {
    width: 9.0909%; }
  .md\:w-2\/11 {
    width: 18.1818%; }
  .md\:w-3\/11 {
    width: 27.2727%; }
  .md\:w-4\/11 {
    width: 36.3636%; }
  .md\:w-5\/11 {
    width: 45.4545%; }
  .md\:w-6\/11 {
    width: 54.5455%; }
  .md\:w-7\/11 {
    width: 63.6364%; }
  .md\:w-8\/11 {
    width: 72.7273%; }
  .md\:w-9\/11 {
    width: 81.8182%; }
  .md\:w-10\/11 {
    width: 90.9091%; }
  .md\:w-1\/12 {
    width: 8.3333%; }
  .md\:w-2\/12 {
    width: 16.6667%; }
  .md\:w-3\/12 {
    width: 25%; }
  .md\:w-4\/12 {
    width: 33.3333%; }
  .md\:w-5\/12 {
    width: 41.6667%; }
  .md\:w-6\/12 {
    width: 50%; }
  .md\:w-7\/12 {
    width: 58.3333%; }
  .md\:w-8\/12 {
    width: 66.6667%; }
  .md\:w-9\/12 {
    width: 75%; }
  .md\:w-10\/12 {
    width: 83.3333%; }
  .md\:w-11\/12 {
    width: 91.6667%; } }

@media screen and (min-width: 992px) {
  .lg\:w-1\/2 {
    width: 50%; }
  .lg\:w-1\/3 {
    width: 33.3333%; }
  .lg\:w-2\/3 {
    width: 66.6667%; }
  .lg\:w-1\/4 {
    width: 25%; }
  .lg\:w-2\/4 {
    width: 50%; }
  .lg\:w-3\/4 {
    width: 75%; }
  .lg\:w-1\/5 {
    width: 20%; }
  .lg\:w-2\/5 {
    width: 40%; }
  .lg\:w-3\/5 {
    width: 60%; }
  .lg\:w-4\/5 {
    width: 80%; }
  .lg\:w-1\/6 {
    width: 16.6667%; }
  .lg\:w-2\/6 {
    width: 33.3333%; }
  .lg\:w-3\/6 {
    width: 50%; }
  .lg\:w-4\/6 {
    width: 66.6667%; }
  .lg\:w-5\/6 {
    width: 83.3333%; }
  .lg\:w-1\/7 {
    width: 14.2857%; }
  .lg\:w-2\/7 {
    width: 28.5714%; }
  .lg\:w-3\/7 {
    width: 42.8571%; }
  .lg\:w-4\/7 {
    width: 57.1429%; }
  .lg\:w-5\/7 {
    width: 71.4286%; }
  .lg\:w-6\/7 {
    width: 85.7143%; }
  .lg\:w-1\/8 {
    width: 12.5%; }
  .lg\:w-2\/8 {
    width: 25%; }
  .lg\:w-3\/8 {
    width: 37.5%; }
  .lg\:w-4\/8 {
    width: 50%; }
  .lg\:w-5\/8 {
    width: 62.5%; }
  .lg\:w-6\/8 {
    width: 75%; }
  .lg\:w-7\/8 {
    width: 87.5%; }
  .lg\:w-1\/9 {
    width: 11.1111%; }
  .lg\:w-2\/9 {
    width: 22.2222%; }
  .lg\:w-3\/9 {
    width: 33.3333%; }
  .lg\:w-4\/9 {
    width: 44.4444%; }
  .lg\:w-5\/9 {
    width: 55.5556%; }
  .lg\:w-6\/9 {
    width: 66.6667%; }
  .lg\:w-7\/9 {
    width: 77.7778%; }
  .lg\:w-8\/9 {
    width: 88.8889%; }
  .lg\:w-1\/10 {
    width: 10%; }
  .lg\:w-2\/10 {
    width: 20%; }
  .lg\:w-3\/10 {
    width: 30%; }
  .lg\:w-4\/10 {
    width: 40%; }
  .lg\:w-5\/10 {
    width: 50%; }
  .lg\:w-6\/10 {
    width: 60%; }
  .lg\:w-7\/10 {
    width: 70%; }
  .lg\:w-8\/10 {
    width: 80%; }
  .lg\:w-9\/10 {
    width: 90%; }
  .lg\:w-1\/11 {
    width: 9.0909%; }
  .lg\:w-2\/11 {
    width: 18.1818%; }
  .lg\:w-3\/11 {
    width: 27.2727%; }
  .lg\:w-4\/11 {
    width: 36.3636%; }
  .lg\:w-5\/11 {
    width: 45.4545%; }
  .lg\:w-6\/11 {
    width: 54.5455%; }
  .lg\:w-7\/11 {
    width: 63.6364%; }
  .lg\:w-8\/11 {
    width: 72.7273%; }
  .lg\:w-9\/11 {
    width: 81.8182%; }
  .lg\:w-10\/11 {
    width: 90.9091%; }
  .lg\:w-1\/12 {
    width: 8.3333%; }
  .lg\:w-2\/12 {
    width: 16.6667%; }
  .lg\:w-3\/12 {
    width: 25%; }
  .lg\:w-4\/12 {
    width: 33.3333%; }
  .lg\:w-5\/12 {
    width: 41.6667%; }
  .lg\:w-6\/12 {
    width: 50%; }
  .lg\:w-7\/12 {
    width: 58.3333%; }
  .lg\:w-8\/12 {
    width: 66.6667%; }
  .lg\:w-9\/12 {
    width: 75%; }
  .lg\:w-10\/12 {
    width: 83.3333%; }
  .lg\:w-11\/12 {
    width: 91.6667%; } }

@media screen and (min-width: 1200px) {
  .xl\:w-1\/2 {
    width: 50%; }
  .xl\:w-1\/3 {
    width: 33.3333%; }
  .xl\:w-2\/3 {
    width: 66.6667%; }
  .xl\:w-1\/4 {
    width: 25%; }
  .xl\:w-2\/4 {
    width: 50%; }
  .xl\:w-3\/4 {
    width: 75%; }
  .xl\:w-1\/5 {
    width: 20%; }
  .xl\:w-2\/5 {
    width: 40%; }
  .xl\:w-3\/5 {
    width: 60%; }
  .xl\:w-4\/5 {
    width: 80%; }
  .xl\:w-1\/6 {
    width: 16.6667%; }
  .xl\:w-2\/6 {
    width: 33.3333%; }
  .xl\:w-3\/6 {
    width: 50%; }
  .xl\:w-4\/6 {
    width: 66.6667%; }
  .xl\:w-5\/6 {
    width: 83.3333%; }
  .xl\:w-1\/7 {
    width: 14.2857%; }
  .xl\:w-2\/7 {
    width: 28.5714%; }
  .xl\:w-3\/7 {
    width: 42.8571%; }
  .xl\:w-4\/7 {
    width: 57.1429%; }
  .xl\:w-5\/7 {
    width: 71.4286%; }
  .xl\:w-6\/7 {
    width: 85.7143%; }
  .xl\:w-1\/8 {
    width: 12.5%; }
  .xl\:w-2\/8 {
    width: 25%; }
  .xl\:w-3\/8 {
    width: 37.5%; }
  .xl\:w-4\/8 {
    width: 50%; }
  .xl\:w-5\/8 {
    width: 62.5%; }
  .xl\:w-6\/8 {
    width: 75%; }
  .xl\:w-7\/8 {
    width: 87.5%; }
  .xl\:w-1\/9 {
    width: 11.1111%; }
  .xl\:w-2\/9 {
    width: 22.2222%; }
  .xl\:w-3\/9 {
    width: 33.3333%; }
  .xl\:w-4\/9 {
    width: 44.4444%; }
  .xl\:w-5\/9 {
    width: 55.5556%; }
  .xl\:w-6\/9 {
    width: 66.6667%; }
  .xl\:w-7\/9 {
    width: 77.7778%; }
  .xl\:w-8\/9 {
    width: 88.8889%; }
  .xl\:w-1\/10 {
    width: 10%; }
  .xl\:w-2\/10 {
    width: 20%; }
  .xl\:w-3\/10 {
    width: 30%; }
  .xl\:w-4\/10 {
    width: 40%; }
  .xl\:w-5\/10 {
    width: 50%; }
  .xl\:w-6\/10 {
    width: 60%; }
  .xl\:w-7\/10 {
    width: 70%; }
  .xl\:w-8\/10 {
    width: 80%; }
  .xl\:w-9\/10 {
    width: 90%; }
  .xl\:w-1\/11 {
    width: 9.0909%; }
  .xl\:w-2\/11 {
    width: 18.1818%; }
  .xl\:w-3\/11 {
    width: 27.2727%; }
  .xl\:w-4\/11 {
    width: 36.3636%; }
  .xl\:w-5\/11 {
    width: 45.4545%; }
  .xl\:w-6\/11 {
    width: 54.5455%; }
  .xl\:w-7\/11 {
    width: 63.6364%; }
  .xl\:w-8\/11 {
    width: 72.7273%; }
  .xl\:w-9\/11 {
    width: 81.8182%; }
  .xl\:w-10\/11 {
    width: 90.9091%; }
  .xl\:w-1\/12 {
    width: 8.3333%; }
  .xl\:w-2\/12 {
    width: 16.6667%; }
  .xl\:w-3\/12 {
    width: 25%; }
  .xl\:w-4\/12 {
    width: 33.3333%; }
  .xl\:w-5\/12 {
    width: 41.6667%; }
  .xl\:w-6\/12 {
    width: 50%; }
  .xl\:w-7\/12 {
    width: 58.3333%; }
  .xl\:w-8\/12 {
    width: 66.6667%; }
  .xl\:w-9\/12 {
    width: 75%; }
  .xl\:w-10\/12 {
    width: 83.3333%; }
  .xl\:w-11\/12 {
    width: 91.6667%; } }

[class*="border-"] {
  border-width: var(--border-size-xs2); }

.focus\:border-xs2:focus,
.active\:border-xs2:active,
.hover\:border-xs2:hover,
.border-xs2 {
  border-width: var(--border-size-xs2); }

.focus\:border-xs:focus,
.active\:border-xs:active,
.hover\:border-xs:hover,
.border-xs {
  border-width: var(--border-size-xs); }

.focus\:border-sm:focus,
.active\:border-sm:active,
.hover\:border-sm:hover,
.border-sm {
  border-width: var(--border-size-sm); }

.focus\:border-md:focus,
.active\:border-md:active,
.hover\:border-md:hover,
.border-md {
  border-width: var(--border-size-md); }

.focus\:border-lg:focus,
.active\:border-lg:active,
.hover\:border-lg:hover,
.border-lg {
  border-width: var(--border-size-lg); }

.focus\:border-xl:focus,
.active\:border-xl:active,
.hover\:border-xl:hover,
.border-xl {
  border-width: var(--border-size-xl); }

.focus\:border-xl2:focus,
.active\:border-xl2:active,
.hover\:border-xl2:hover,
.border-xl2 {
  border-width: var(--border-size-xl2); }

.focus\:border-xl3:focus,
.active\:border-xl3:active,
.hover\:border-xl3:hover,
.border-xl3 {
  border-width: var(--border-size-xl3); }

.focus\:border-xl4:focus,
.active\:border-xl4:active,
.hover\:border-xl4:hover,
.border-xl4 {
  border-width: var(--border-size-xl4); }

.focus\:border-xl5:focus,
.active\:border-xl5:active,
.hover\:border-xl5:hover,
.border-xl5 {
  border-width: var(--border-size-xl5); }

.focus\:border-xl6:focus,
.active\:border-xl6:active,
.hover\:border-xl6:hover,
.border-xl6 {
  border-width: var(--border-size-xl6); }

.focus\:border-xl7:focus,
.active\:border-xl7:active,
.hover\:border-xl7:hover,
.border-xl7 {
  border-width: var(--border-size-xl7); }

.focus\:border-xl8:focus,
.active\:border-xl8:active,
.hover\:border-xl8:hover,
.border-xl8 {
  border-width: var(--border-size-xl8); }

.inline,
[class*=":inline"],
code {
  position: relative;
  display: inline-block;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  vertical-align: middle; }

/*** Helper classes End ***/
