blockquote[data-alert] {
  --alert-color: var(--primary);
  --alert-bg: var(--primary-light);
  display: block;
  margin: 0 0 var(--spacing-3);
  padding: var(--spacing-3) var(--spacing-4);
  border-left: var(--border-size-4) solid var(--alert-color);
  border-radius: var(--radius-base);
  background-color: var(--alert-bg);
  color: var(--default-dark);
}

blockquote[data-alert~="info"] {
  --alert-color: var(--info);
  --alert-bg: var(--info-light);
}

blockquote[data-alert~="success"] {
  --alert-color: var(--success);
  --alert-bg: var(--success-light);
}

blockquote[data-alert~="warning"] {
  --alert-color: var(--warning);
  --alert-bg: var(--warning-light);
}

blockquote[data-alert~="danger"] {
  --alert-color: var(--danger);
  --alert-bg: var(--danger-light);
}

blockquote[data-alert] > :last-child {
  margin-bottom: 0;
}
