@use "sass:map";
@use './vars' as *;

:root{
  @each $name, $base in $shadowSizes {
    --shadow-inner-#{$name}: #{0 $base * 1px $base * 1.5px 0 rgba(0, 0, 0, 0.2) inset,
      0 $base * 1.5px $base * 1px $base * -1.5px rgba(0, 0, 0, 0.2) inset};
    --shadow-#{$name}: #{0 $base * 1px $base * 1.5px 0 rgba(0, 0, 0, 0.2),
      0 $base * 1.5px $base * 1px $base * -1.5px rgba(0, 0, 0, 0.2)};
  }
}

.animated {
  transition: var(--animate-all);
}

@mixin elevation($base, $isInset: false, $color: '') {
  position: relative;
  transition: var(--animate-all);
  @if $isInset {
    box-shadow: var(--shadow-inner-#{$base}#{$color});
  } @else {
    z-index: round(map.get($shadowSizes, $base));
    box-shadow: var(--shadow-#{$base}#{$color});
  }
}

@each $size, $base in $shadowSizes {
  .focus\:shadow-#{$size}:focus,
  .active\:shadow-#{$size}:active,
  .hover\:shadow-#{$size}:hover,
  .shadow-#{$size} {
    @include elevation($size);
  }
}

@each $size, $base in $shadowSizes {
  .focus\:shadow-inner-#{$size}:focus,
  .active\:shadow-inner-#{$size}:active,
  .hover\:shadow-inner-#{$size}:hover,
  .shadow-inner-#{$size} {
    @include elevation($size, true);
  }
}

.focus\:shadow-none:focus,
.active\:shadow-none:active,
.hover\:shadow-none:hover,
.shadow-none {
  box-shadow: none;
}
