@use "sass:map";
@use "./vars" as *;

:root {
  @each $name, $base in $shadowSizes {
    --shadow-inner-#{$name}:
      #{0 $base * 1px $base * 1.5px 0 var(--shadow-color) inset,
      0 $base * 1.5px $base * 1px $base * -1.5px var(--shadow-color) inset};
    --shadow-#{$name}:
      #{0 $base * 1px $base * 1.5px 0 var(--shadow-color),
      0 $base * 1.5px $base * 1px $base * -1.5px var(--shadow-color)};
  }
}

%elevation-transition {
  transition: box-shadow var(--motion-duration-base)
    var(--motion-easing-standard);
}

@mixin elevation($base, $isInset: false, $color: "") {
  position: relative;
  @extend %elevation-transition;
  @if $isInset {
    box-shadow: var(--shadow-inner-#{$base}#{$color});
  } @else {
    z-index: round(map.get($shadowSizes, $base));
    box-shadow: var(--shadow-#{$base}#{$color});
  }
}

@each $size, $base in $shadowSizes {
  .shadow-#{$size} {
    @include elevation($size);
  }
}

@each $size, $base in $shadowSizes {
  .shadow-inner-#{$size} {
    @include elevation($size, true);
  }
}

.shadow-none {
  box-shadow: none;
}

@each $size, $base in $shadowSizes {
  .hover\:shadow-#{$size}:hover {
    @include elevation($size);
  }
}

@each $size, $base in $shadowSizes {
  .hover\:shadow-inner-#{$size}:hover {
    @include elevation($size, true);
  }
}

.hover\:shadow-none:hover {
  box-shadow: none;
}

@each $size, $base in $shadowSizes {
  .focus\:shadow-#{$size}:focus {
    @include elevation($size);
  }
}

@each $size, $base in $shadowSizes {
  .focus\:shadow-inner-#{$size}:focus {
    @include elevation($size, true);
  }
}

.focus\:shadow-none:focus {
  box-shadow: none;
}

@each $size, $base in $shadowSizes {
  .active\:shadow-#{$size}:active {
    @include elevation($size);
  }
}

@each $size, $base in $shadowSizes {
  .active\:shadow-inner-#{$size}:active {
    @include elevation($size, true);
  }
}

.active\:shadow-none:active {
  box-shadow: none;
}

.text-shadow-sm {
  text-shadow: 0 1px 2px var(--scrim);
}

.text-shadow-base {
  text-shadow: 0 2px 4px var(--scrim);
}

.text-shadow-lg {
  text-shadow: 0 4px 8px var(--scrim);
}

.text-shadow-none {
  text-shadow: none;
}
