/*** Fonts Start ***/
/* font-size */
@use './vars' as *;

@each $name, $val in $fontSizes {
  .focus\:text-#{$name}:focus,
  .active\:text-#{$name}:active,
  .hover\:text-#{$name}:hover,
  .text-#{$name} {
    font-size: var(--font-size-#{$name});
  }
}

/* style */
.focus\:normal-style:focus,
.active\:normal-style:active,
.hover\:normal-style:hover,
.normal-style {
  font-style: normal;
}

@each $val in italic, oblique {
  .focus\:#{$val}:focus,
  .active\:#{$val}:active,
  .hover\:#{$val}:hover,
  .#{$val} {
    font-style: $val;
  }
}

/* weight */
@each $name, $val in (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900
) {
  .focus\:font-#{$name}:focus,
  .active\:font-#{$name}:active,
  .hover\:font-#{$name}:hover,
  .font-#{$name} {
    font-weight: $val;
  }
}

/* text transform */
@each $name, $val in (
  uppercase: uppercase,
  lowercase: lowercase,
  capitalize: capitalize,
  normal-case: none
) {
  .focus\:#{$name}:focus,
  .active\:#{$name}:active,
  .hover\:#{$name}:hover,
  .#{$name} {
    text-transform: $val;
  }
}

/* line height */
@each $name, $val in (
  none: 1,
  tight: 1.25,
  snug: 1.375,
  normal: 1.5,
  relaxed: 1.625,
  loose: 2
) {
  .focus\:leading-#{$name}:focus,
  .active\:leading-#{$name}:active,
  .hover\:leading-#{$name}:hover,
  .leading-#{$name}  {
    line-height: $val;
  }
}

/* align */
@each $val in left, right, center, justify {
  .focus\:text-#{$val}:focus,
  .active\:text-#{$val}:active,
  .hover\:text-#{$val}:hover,
  .text-#{$val}  {
    text-align: $val;
  }
}
