[data-trigger] > menu {
  position: absolute;
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  border-radius: var(--card-radius);
  background-color: var(--surface-raised);
  color: var(--text-primary);
  list-style: none;
  margin: 0;
  padding: 0;
  transform: scale(0);
  transform-origin: top left;
  min-width: 20rem;
  border: var(--border-size-1) solid var(--border-default);
  box-shadow: none;
  &[data-menu~="top"] {
    transform-origin: bottom left;
    bottom: 100%;
    top: auto;
  }

  &[data-menu~="right"] {
    transform-origin: top right;
    right: 0;
  }

  &[data-menu~="top"][data-menu~="right"] {
    transform-origin: bottom right;
  }
}

[data-trigger][open] > menu {
  display: block;
  opacity: 1;
  z-index: 8;
  transform: scale(1);
}
