search,
form[role="search"] {
  display: block;
}

search > form,
form[role="search"] {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-2);
}

search fieldset,
form[role="search"] fieldset {
  flex: 1 1 auto;
  margin-bottom: 0;
}

input[type="search"] {
  width: 100%;
  margin-bottom: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}
