[data-tooltip] {
  position: relative;

  &::after {
    content: attr(data-tooltip);
    position: absolute;
    border-radius: 0.25em;
    font-size: var(--font-size-sm);
    line-height: var(--spacing-5);
    font-weight: bold;
    bottom: 100%;
    left: 50%;
    z-index: 2;
    text-align: center;
    opacity: 0;
    transform: translate(-50%) scale(0);
    border: var(--border-size-1) solid var(--border-default);
    box-shadow: none;
    transform-origin: bottom center;
    white-space: nowrap;
    padding: 0 0.5em;
    background-color: var(--surface-raised);
    color: var(--text-primary);
    pointer-events: none;
  }

  &:hover::after,
  &:focus-visible::after {
    display: block;
    opacity: 1;
    transform: translate(-50%) scale(1);
  }

  &[data-tooltip-position="top"]::after {
    top: auto;
    bottom: 100%;
    transform-origin: bottom center;
  }

  &[data-tooltip-position="bottom"]::after {
    top: 100%;
    bottom: auto;
    transform-origin: top center;
  }

  &[data-tooltip-position="left"]::after,
  &[data-tooltip-position="right"]::after {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%) scale(0);
  }

  &[data-tooltip-position="left"]::after {
    right: 100%;
    left: auto;
    transform-origin: right center;
  }

  &[data-tooltip-position="right"]::after {
    right: auto;
    left: 100%;
    transform-origin: left center;
  }

  &[data-tooltip-position="left"]:is(:hover, :focus-visible)::after,
  &[data-tooltip-position="right"]:is(:hover, :focus-visible)::after {
    transform: translateY(-50%) scale(1);
  }
}

@media (max-width: 575px) {
  [data-tooltip]::after {
    width: max-content;
    max-width: calc(100vw - (var(--spacing-4) * 2));
    white-space: normal;
  }
}
