@use "./helpers" as *;

header,
footer {
  @include flexContainer(row);
  overflow: visible;
  height: auto;
  min-height: 3.5rem;
  padding: 1rem;
  & > nav {
    &:last-child {
      justify-content: flex-end;
      flex: 1;
    }
  }
  > button {
    flex: 0 0 auto;
    padding: 1rem;
    &:first-child {
      margin-right: -1rem;
    }
  }
  > h1,
  > h2,
  > h3 {
    margin: 0;
    flex: 1 0 auto;
    font-size: 1rem;
  }
}

header > nav:first-child {
  margin-left: -1rem;
}

header > nav:last-child {
  margin-right: -1rem;
}

footer > nav {
  margin: 0;
}

:where(body, main, article, dialog, [data-card], [data-layout], section)
  > footer:last-child {
  border-top: 0.06em solid var(--border-subtle);
}

:where(body, main, article, dialog, [data-card], [data-layout], section)
  > footer:first-child {
  border-top: none;
}

:where(body, main, article, dialog, [data-card], [data-layout], section)
  > header:first-child {
  border-bottom: 0.06em solid var(--border-subtle);
}

:where(body, main, article, dialog, [data-card], [data-layout], section)
  > header:last-child {
  border-bottom: none;
}

body > header,
body > footer {
  background-color: var(--surface);
  color: var(--text-primary);
}
:where(body, main, article, dialog, [data-card], [data-layout])
  > :is(main, section, article) {
  z-index: 1;
}

:where(body, main, article, dialog, [data-card], [data-layout]) > header {
  z-index: 3;
}
:where(body, main, article, dialog, [data-card], [data-layout]) > footer {
  z-index: 2;
}
