@use "./helpers" as *;
@use "./buttons";

[data-trigger] {
  position: relative;
  z-index: 0;
  > summary {
    @extend [data-button];
    color: inherit;
    list-style: none;
    &::-webkit-details-marker {
      display: none;
    }
    &::after {
      @include overlay();
      z-index: -1;
      display: none;
    }
  }

  &[open] {
    z-index: 1;
    summary {
      overflow: visible;
      &::after {
        @include overlayHover();
        position: fixed;
        opacity: 0;
        display: block;
      }
    }
  }
}

details[data-trigger] {
  display: inline-block;
  vertical-align: middle;
}
