@import './helpers.scss';
@import './buttons.scss';

[data-trigger]{
  position: relative;
  z-index: 0;
  >summary {
    @extend .btn;
    color: inherit;
    list-style: none;
    &::-webkit-details-marker {
      display: none;
    }
    &::after {
      @include overlay();
      z-index: -1;
      display: none;
    }
  }

  &[open] {
    z-index: 1;
    summary{
      overflow: visible;
      &::after{
        @include overlayHover();
        position: fixed;
        opacity: 0;
        display: block;
      }
    }
  }
}
