@use "sass:math";
@use "./vars" as *;

@each $name, $val in $spacing {
  .p-#{$name} {
    padding: var(--spacing-#{$name});
  }
  .pt-#{$name} {
    padding-top: var(--spacing-#{$name});
  }
  .pr-#{$name} {
    padding-right: var(--spacing-#{$name});
  }
  .pb-#{$name} {
    padding-bottom: var(--spacing-#{$name});
  }
  .pl-#{$name} {
    padding-left: var(--spacing-#{$name});
  }

  .m-#{$name} {
    margin: var(--spacing-#{$name});
  }
  .mt-#{$name} {
    margin-top: var(--spacing-#{$name});
  }
  .mr-#{$name} {
    margin-right: var(--spacing-#{$name});
  }
  .mb-#{$name} {
    margin-bottom: var(--spacing-#{$name});
  }
  .ml-#{$name} {
    margin-left: var(--spacing-#{$name});
  }
}

@each $name, $value in $heights {
  .h-#{$name} {
    height: $value;
  }

  .min-h-#{$name} {
    min-height: $value;
  }
}

@each $name, $value in $viewportHeights {
  .h-#{$name} {
    height: $value;
  }

  .min-h-#{$name} {
    min-height: $value;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-auto {
  height: auto;
}

@each $value in cover, contain, fill, none, scale-down {
  .object-#{$value} {
    object-fit: $value;
  }
}

@each $name, $value in $mediaPositions {
  .object-#{$name} {
    object-position: $value;
  }

  .bg-#{$name} {
    background-position: $value;
  }
}

.bg-auto {
  background-size: auto;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

@each $val in relative, static, absolute, fixed, sticky {
  .#{$val} {
    position: $val;
  }
}

@each $name, $value in $zIndexes {
  .z-#{$name} {
    z-index: $value;
  }
}

/*** Helper classes Start ***/
.u-scrollable {
  max-height: 360rem;
}

@mixin generate($width, $id) {
  @media screen and (min-width: $width) {
    @each $size in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
      @each $var in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
        @if $size > $var {
          .#{$id}\:w-#{$var}\/#{$size} {
            width: math.percentage(math.div($var, $size));
          }
        }
      }
    }
  }
}

@each $size in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
  @each $var in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    @if $size > $var {
      .w-#{$var}\/#{$size} {
        width: math.percentage(math.div($var, $size));
      }
    }
  }
}
@include generate(576px, sm);
@include generate(768px, md);
@include generate(992px, lg);
@include generate(1200px, xl);

[class*="border-"] {
  border-width: var(--border-size-1);
}

@each $name, $val in $borderSizes {
  @if $name == 1 {
    .focus\:border:focus,
    .active\:border:active,
    .hover\:border:hover,
    .border {
      border-width: var(--border-size-1);
      border-style: solid;
    }
  }

  .focus\:border-#{$name}:focus,
  .active\:border-#{$name}:active,
  .hover\:border-#{$name}:hover,
  .border-#{$name} {
    border-width: var(--border-size-#{$name});
  }
}

.focus\:outline:focus,
.active\:outline:active,
.hover\:outline:hover,
.outline {
  outline-width: var(--border-size-1);
  outline-style: solid;
}

.focus\:outline-none:focus,
.active\:outline-none:active,
.hover\:outline-none:hover,
.outline-none {
  outline: none;
}

@each $name, $val in $borderSizes {
  .focus\:outline-#{$name}:focus,
  .active\:outline-#{$name}:active,
  .hover\:outline-#{$name}:hover,
  .outline-#{$name} {
    outline-width: var(--border-size-#{$name});
    outline-style: solid;
  }
}

@each $val in solid, dashed, dotted, double {
  .focus\:outline-#{$val}:focus,
  .active\:outline-#{$val}:active,
  .hover\:outline-#{$val}:hover,
  .outline-#{$val} {
    outline-style: $val;
  }
}

@each $name, $val in $spacing {
  .focus\:outline-offset-#{$name}:focus,
  .active\:outline-offset-#{$name}:active,
  .hover\:outline-offset-#{$name}:hover,
  .outline-offset-#{$name} {
    outline-offset: var(--spacing-#{$name});
  }
}

.inline,
[class*=":inline"],
code {
  position: relative;
  display: inline-block;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  vertical-align: middle;
}

/*** Helper classes End ***/
