@use "../../../../scss/theme" as dragonglassTheme;

$spacing: (
  0: 0,
  px: 1px,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  16: 4rem,
);

$heights: (
  8: 2rem,
  12: 3rem,
  16: 4rem,
  24: 6rem,
  32: 8rem,
  48: 12rem,
  64: 16rem,
  96: 24rem,
  128: 32rem,
);

$viewportHeights: (
  half-screen: 50svh,
  three-quarter-screen: 75svh,
  screen: 100svh,
);

$maxWidths: (
  sm: 36rem,
  md: 48rem,
  lg: 64rem,
  xl: 80rem,
  prose: 65ch,
);

$mediaPositions: (
  top-left: left top,
  top: center top,
  top-right: right top,
  left: left center,
  center: center center,
  right: right center,
  bottom-left: left bottom,
  bottom: center bottom,
  bottom-right: right bottom,
);

$fontSizes: (
  2xs: 0.75rem,
  xs: 0.8rem,
  sm: 0.9rem,
  base: 1rem,
  lg: 1.25rem,
  xl: 1.5rem,
  2xl: 1.965rem,
  3xl: 2.25rem,
  4xl: 3rem,
  5xl: 3.75rem,
  6xl: 4.5rem,
);

$borderSizes: (
  0: 0,
  1: 0.06rem,
  2: 0.13rem,
  3: 0.19rem,
  4: 0.25rem,
  5: 0.38rem,
  6: 0.5rem,
  7: 0.75rem,
  8: 1rem,
  9: 1.25rem,
  10: 2rem,
  11: 2.25rem,
  12: 2.5rem,
  13: 3rem,
);

$shadowSizes: (
  2xs: 0.5,
  xs: 1,
  sm: 2,
  base: 4,
  lg: 6,
  xl: 8,
  2xl: 12,
  3xl: 16,
);

$zIndexes: (
  auto: auto,
  negative-10: -10,
  negative-1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  6: 6,
  8: 8,
  12: 12,
  16: 16,
  1000: 1000,
);

$primaryColorNames: dragonglassTheme.$primary-color-names;
$secondaryColorNames: dragonglassTheme.$secondary-color-names;
$colorWeights: dragonglassTheme.$color-weights;
