@use "sass:color";
@use "sass:map";

$sizes: (
  xs2: 0.25rem,
  xs: 0.5rem,
  sm: 0.75rem,
  md: 1rem,
  lg: 1.25rem,
  xl: 1.5rem,
  xl2: 1.965rem,
  xl3: 2rem,
  xl4: 2.25rem,
  xl5: 2.5rem,
  xl6: 2.75rem,
  xl7: 3rem,
  xl8: 4rem
);

$fontSizes: (
  xs: 0.8rem,
  sm: 0.9rem,
  md: 1rem,
  lg: 1.25rem,
  xl: 1.5rem,
  xl2: 1.965rem,
  xl3: 2rem,
  xl4: 2.25rem,
  xl5: 2.5rem,
  xl6: 2.75rem,
  xl7: 3rem,
  xl8: 4rem
);

$borderSizes: (
  no-border: 0,
  xs2: 0.06rem,
  xs: 0.13rem,
  sm: 0.19rem,
  md: 0.25rem,
  lg: 0.38rem,
  xl: 0.5rem,
  xl2: 0.75rem,
  xl3: 1rem,
  xl4: 1.25rem,
  xl5: 2.25rem,
  xl6: 2rem,
  xl7: 2.5rem,
  xl8: 3rem
);

$primaryColors: (
  "primary": #3244ad,
  "accent": #953ca5,
  "success": #2ab7a9,
  "info": #00c3e0,
  "warning": #bf7921,
  "danger": #bb2626,
  "default": #646c8a
);

$secondaryColors: (
  "white": #ffffff,
  "black": #333333
);

$amount: 25;
$colors: (
  "white": map.get($secondaryColors, "white"),
  "black": map.get($secondaryColors, "white")
);

@each $name, $baseColor in $primaryColors {
  $colors: map.merge(
    $colors,
    (
      "#{$name}": $baseColor,
      "#{$name}-bright": color.adjust($baseColor, $lightness: $amount * 1.96%),
      "#{$name}-lightest": color.adjust($baseColor, $lightness: $amount * 1.4%),
      "#{$name}-light": color.adjust($baseColor, $lightness: $amount * 1%),
      "#{$name}-dark": color.adjust($baseColor, $lightness: -$amount * 1%),
      "#{$name}-darkest": color.adjust($baseColor, $lightness: -$amount * 1.4%)
    )
  );
}
